[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU
	branch = main
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
	branch = main
